src/main/java/kz/tpb/jaxb/Declaration_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INISNotificationConfirmResponse">
          <xs:complexType>
            <xs:attribute name="MessageId" type="xs:string" use="required" />
            <xs:attribute name="ConfirmRecordId" type="xs:string" use="required" />
            <xs:attribute name="ResponseDate" type="xs:string" use="required" />
            <xs:attribute name="Status" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>